#root {
  background-color: lightgray;
}

body {
  box-sizing: border-box;
}
.allEpisodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.episodeCard {
  background-color: #fff;
  width: 30%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: larger;
  font-weight: bold;
  border: solid;
  border-radius: 4px;

  padding: 15px;
  margin-top: 0;
  text-align: center;
}
img {
  margin: 30px;
}

#license {
  font-weight: bold;
  border-radius: 3px;
  font-weight: 400;
}
p {
  color: rgb(67, 65, 65);
  text-align: center;
  margin: 10px;
}